
/*--General--*/

body {
    background-color: #B279A7;
}

section {
    background-color: #D387AB;
}

div {
    background-color: #D387AB;
}



section > div{
    width: 25%;
}
section > div > img{
    width: 97%;
    height: 280px;
}
section > div> p{
    width: 94%;
    text-align:left;
}
nav{
    border: 2px solid black;
    background-color: #49306B;
    padding: 30px;
    display:flex;
    justify-content: space-between;
}
nav > form{
    display:flex;
    padding:5px;
    border:1px solid black;
}
p{
    border: 2px solid black;
}
form > .btn:hover {
    background-color: grey;
}

/*--Generic Tags--*/

.center {
    margin: auto;
    width: 50%;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

/*--Home Page--*/

#about {
    display: flex;
}
#about > img {
    display: flex;
    padding: 5px;
    float: right;
    height: 250px;
    width: 500px;
}
#about > aside > img{
    height: 250px;
    width: 500px;
}
.contact > aside {
    float:right;
}

/*--Error Page--*/
#error > div.center > h1 {
    font-size: 40px;
}
/*--FAQ Page--*/

#faq > h1 {
    text-align: center;
}

/*--Menus Page--*/

#menus > img{
    float: left;
}

#menu-box{
    display:flex;
    max-width:100%;
    justify-content: space-between;
}

#menu-box > div > img{
   height: 700px;
}

#menu-box > div:first-child {
    width:50%;
}

#menu-box > div:first-child {
    width: 98%;
}

#menu-box > div:last-child {
    width:50%;
}
#menu-box > div:last-child {
    width: 92%;
}

#downloads > div > a {
    display: block;
}

/*-- Account Page--*/

#account {
    margin: auto;
    text-align: center;
}


/*--Styles for responsive design --*/
@media only screen and (max-width: 600px) {

    section{
        flex-direction: column;
    }
    section > div{
        width:100%;
    }
    section > div > p{
        display:none;
    }

}

/*--Styles for table layouts --*/
@media only screen and (max-width: 900px) and (min-width: 600px){

    section > div:last-child{
        display:none;
    }

    section > div{
        width: 33.33%;
        height: 250px;
    }

    section > div > p > span{
        display:none;
    }

}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  right: 0;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 36px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

#main > nav > div#mySidenav.sidenav > a {
    text-align:right;
    margin-right: 15px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

